<div class="container">
  <h1>{{titulo}}</h1>
  <form>
    <div class="form-group">
      <label>Operando A</label>
      <input 
        type="number"
        id=""
        class="form-control"
        placeholder="Ingrese el operando A"
        [(ngModel)]="operandoA"
        name="operandoA" 
      />
    </div>
    <div class="form-group">
      <label>Operando B</label>
      <input 
        type="number"
        id=""
        class="form-control"
        placeholder="Ingrese el operando B"
        [(ngModel)]="operandoB"
        name="operandoB"
      />
    </div>
    <button 
      type="button"
      class="btn btn-primary"
      (click)="sumar()"
    >Sumar</button>
    <p>El resultado es: {{resultado}}</p>
  </form>
</div>